<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.StudentDao">






<select id="queryCount" resultType="Long">

   select count(id) from s_student

</select>



    <select id="queryStudentList" resultType="com.fh.entity.StudentInfo">
     select * from s_student
        limit #{start},#{length}

    </select>




</mapper>
